.boxContainer{
    margin: auto;
    margin-top: 1%;
    position:relative;
    width:25%;
    height:55px;
    border: 1px solid gray;
    /* padding:2px 1px; */

    
}

.boxContainer:focus-within{
    border: 1px solid #9bb1fa;
}


@media screen and (max-width: 600px) {
    .boxContainer{
        width: 75%;
        height: 55px;
        border: 1px solid gray;

        
    }
}

.elementsContainer{
    width:100%;
    height:100%;
    vertical-align: middle;
}

.search{
    border:none;
    height: 100%;
    width: 100%;
    padding:0px;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

.search:focus{
    outline: none;
}
.material-icons{
    font-size:26;
    color: #424242;
}

.image-container {
    width: 100%;
    height: 75%;
    text-align: center;
    margin-top: auto;
  }
  
  .image-circle {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    margin-top: 7%;
  }

  .card-header {
    font-size: 20px;
    font-weight: bold;
  }


 .stats{
    font-size: 18px;
    font-weight: bold;
  } 